.localWrapper {
  display: flex;
  flex-direction: column;
  /* padding-top: 1%; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 4vh;
}

.localLine {
  height: 2px;
  background-color: #fff;
  width: 70%;
  margin-bottom: 4vh;
}

.sensorContainer {
  margin: 0px !important;
  padding: 0px !important;
}
