.forecastWrapper {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 4vh;
}

.forecastLine {
  height: 2px;
  background-color: #fff;
  width: 70%;
}

.forecastValues {
  padding-top: 4vh;
}

.valuesLeft {
  width: 50%;
  float: left;
  font-size: 200%;
}

.valuesRight {
  width: 50%;
  float: right;
}
