.localSensor {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0.466);
  height: 100px;
  margin-top: 1vh;
  margin-bottom: 5%;
  padding: 2%;
  position: relative;
}

.warning {
  background-color: rgba(255, 238, 0, 0.548);
}

.alerta {
  background-color: rgba(255, 0, 0, 0.555);
}

.sensorValues {
  position: relative;
  width: 100%;
}

.sensorIcon {
  position: absolute;
  left: 0px;
  width: 50%;
  padding: 10px;
}

.sensorData {
  position: absolute;
  right: 0px;
  width: 50%;
  font-size: 200%;
}

.sensorName {
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-size: 70%;
  text-align: center;
}
