.sensorDetailsContainer {
  background-color: #223555;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  border-color: rgba(255, 255, 255, 0.466);
  height: 30vh;
  overflow: hidden;
}

.sensorDetailsScroll {
  overflow: scroll;
  height: 22vh;
}

.backArrow {
  margin: 10px;
}

.detailHeader {
  text-align: center;
}

.individualSensorWrap {
  margin: 2%;
  padding: 2%;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.466);
}

.stakeId {
  margin-left: 15%;
}
